footer {
    width: 100%;
    bottom: 0;

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F8F6F4;
        gap: 1.5rem;
        padding: 2.5rem 0;
    
        .footer-contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
    
            .footer-slogan {
                p {
                    margin: 0;
                    color: #191919;
                    text-align: center;
                }
            }

            .footer-socials {
                display: flex;
                align-items: center;
                gap: 1.5rem;
            }
        }
    
        .footer-menu {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            padding: 1.625rem 0;
            min-width: 90%;
            justify-content: center;
            border-top: 1px solid #191919;
            border-bottom: 1px solid #191919;
    
            .footer-menu-left {
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 0 1rem;
                gap: 1.5rem;
            }
    
            .footer-menu-right {
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 0 1rem;
                gap: 1.5rem;
            }
    
            a {
                color: #725A58;
                text-decoration: none;
                font-size: 1.25rem;
                font-weight: 400;
            }
        }
    
        .footer-copyright {
            p {
                margin: 0;
                color: #725A58;
                text-align: center;
            }
        }
    }
}

@media (min-width: 800px) {
    footer {
        .footer-container {
            .footer-menu{
                gap: 2rem;
                margin: 0 2rem;
                padding: 1.625rem .5rem;
                .footer-menu-left {
                    flex-direction: row;
                    padding: 0;
                    padding-right: 0.5rem;
                    gap: 5rem;
                }
                .footer-menu-right {
                    flex-direction: row;
                    padding: 0;
                    padding-left: 0.5rem;
                    gap: 5rem;
                }
            }
        }
    }
}

