@import "variables";

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gap($gap) {
  gap: $gap;

  @include mq("lg") {
    gap: $gap / 2;
  }
}

@mixin button-style {
  font-size: 1.2rem;
  font-weight: 300;
  font-family: $font-stack;
  background-color: transparent;
  border: 1px solid $bold-main-color;
  color: $bold-main-color;
  padding: 15px 40px;
  &:hover {
    background-color: $complementary-color-2;
    color: $background-color;
    transition: 0.3s;
    border: 1px solid $complementary-color-2;
  }

  @include mq("lg") {
    padding: 8px 20px;
  }
}

%title-style {
  letter-spacing: 13px;
  color: #725a58;
  font-weight: 400;
  font-size: 5rem;

  @include mq("md") {
    font-size: 3rem;
  }

  @include mq("sm") {
    font-size: 1.5rem;
  }
}

html {
  font-size: 16px;

  @include mq("lg") {
    font-size: 13px;
  }
}

body {
  font-family: $font-stack;
  background-color: $background-color;
  width: 100%;
  margin: 0;
  padding: 0;
}

.home-page {
  @extend %flex-center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;

  p {
    font-family: $paragraph-font;
  }
}

.hero {
  @extend %flex-center;
  background-image: url("../images/hero_img.svg");
  box-shadow: inset 0 -18em 7em rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $background-color;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 80vh;

  h1 {
    font-family: "WhiteFlower", sans-serif;
    font-size: 7rem;
    padding-top: 17%;
    font-weight: 400;
    background: transparent;
    margin: 0;

    @include mq("md") {
      font-size: 3rem;
    }
  }

  p {
    font-weight: 300;
    margin-bottom: 20px;
    background: transparent;
  }

  button {
    color: $background-color;
    font-size: 1.2rem;
    background-color: transparent;
    border: 1px solid $background-color;
    padding: 15px 39px;
    line-height: 30px;
    min-width: 160px;
    font-family: $font-stack;

    &:hover {
      background-color: $background-color;
      color: black;
      opacity: 0.7;
      transition: 0.3s;
    }

    @include mq("lg") {
      padding: 8px 20px;
    } 
  }
}

.about-artist {
  @extend %flex-center;
  flex-direction: column;
  gap: 40px;
  padding: 50px 0;

  .artist-desc {
    @extend %flex-center;
    flex-direction: row;
    @include mq("lg") {
      flex-direction: column-reverse;
    }
  }

  .artist-desc-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 4% 5%;
    justify-content: flex-start;
    text-align: start;
    width: 60%;

    @include mq("lg") {
      align-items: center;
      text-align: center;
    }

    h3 {
      font-weight: 100;
      font-size: 3rem;
    }

    p {
      font-size: 18px;
    }

    button {
      @include button-style;
    }
  }

  .btn-section {
    @extend %flex-center;
    flex-direction: row;
    gap: 40px;
    justify-content: flex-start;

    @include mq("lg") {
      flex-direction: column;
      gap: 20px;
    }
  }

  .logo-pink {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0;
  }
}

.brand-list {
  color: $secondary-color;

  .brand-title {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    font-size: 1.3rem;
    margin-bottom: 40px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 100%;
      height: 0.5px;
      background-color: black;
    }

    &::before {
      left: -110%;
    }

    &::after {
      right: -110%;
    }
  }

  .brand-list-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;

    @include mq("md") {
      grid-template-columns: repeat(2, 1fr);
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.about-work {
  background-color: $background-color-2;
  opacity: 0.9;

  .about-work-desc {
    @extend %flex-center;
    flex-direction: column;
    padding: 8% 0% 4% 0%;
    gap: 40px;
  }

  h1 {
    @extend %title-style;
  }

  .star-image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 5%;

    @include mq("lg") {
      gap: 10px;
      grid-template-columns: repeat(2, 1fr);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .short-hr {
    width: 20%;
    margin: 0 auto;
    border: 0.5px solid $accent-color;
  }

  .my-work-btn {
    @include button-style;
  }

  .work-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .quote {
    padding: 5% 0% 9% 0%;
    @extend %flex-center;
    flex-direction: column;
    gap: 20px;

    p {
      margin: 0 auto;
      font-size: 32px;
      width: 50%;
      font-weight: 300;
      font-family: $font-stack;

      @include mq("lg") {
        width: 80%;
      }
    }
  }

  .btn-area {
    @extend %flex-center;
    gap: 40px;
    width: 20%;

    button {
      background: transparent;
      border: none;
    }

    p {
      font-family: "WhiteFlower", sans-serif;
      font-size: 3.75rem;
    }
  }
}

.about-style {
  @extend %flex-center;
  flex-direction: column;
  padding: 8% 0%;
  @include gap(60px);

  h1 {
    @extend %title-style;
    width: 50%;

    @include mq("lg") {
      width: 100%;
    }
  }

  .short-hr {
    width: 20%;
    margin: 0 auto;
    border: 0.5px solid $accent-color;
  }

  button {
    @include button-style;
  }

  .container {
    @extend %flex-center;
    width: 80%;
    flex-direction: row;
    margin: auto;
    @include gap(100px);

    @include mq("lg") {
      flex-direction: column;
    }
  }

  .image-box {
    position: relative;
    width: 300px;
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
      box-shadow: 20px -20px $background-color,
        20px -20px 0px 1px $complementary-color-2;
    }
  }

  .label {
    font-family: $font-stack;
    position: absolute;
    bottom: 10px;
    font-size: 3.5rem;
    font-weight: 300;
    color: $accent-color;
    padding: 5px 10px;
  }
}

.about-class {
  width: 100%;

  .about-class-container {
    padding: 70px 0;
    background-color: $background-color-2;
    width: 90%;
    margin: 0 auto;

    @include mq("lg") {
      width: 100%;
    }
  }

  .class-content {
    @extend %flex-center;
    flex-direction: row;
    @include gap(40px);
    padding: 50px;

    @include mq("lg") {
      flex-direction: column;
    }
  }

  .all-classes-btn-container {
    @extend %flex-center;
    width: 100%;
    justify-content: flex-start;

    @include mq("lg") {
      justify-content: center;
    }
  }

  .about-class-left {
    @extend %flex-center;
    flex-direction: column;
  }

  .class-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
    padding: 4%;
    cursor: pointer;
    @include gap(20px);

    @include mq("lg") {
      padding: 0%;
      flex-direction: column;
    }

    h3 {
      @extend %title-style;
      letter-spacing: 3px;
      font-size: 2rem;
      font-weight: 400;
    }

    &:hover {
      background-color: #f3dad6;
    }
  }

  .class-desc-right {
    @extend %flex-center;

    p {
      font-family: $font-stack;
      display: none;
      @include mq("lg") {
        display: block;
      }
    }
  }

  .class-desc-left {
    display: flex;
    flex-direction: column;
    @include gap(20px);
  }

  .class-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    @include gap(20px);
  }

  .class-btn {
    display: block;
    margin-left: 0;
  }

  h1 {
    @extend %title-style;
  }

  button {
    @include button-style;
    width: 180px;
  }

  .class-content-left {
    display: flex;
    flex-direction: column;
    @include gap(20px);
  }

  .class-images {
    display: grid;
    @include gap(20px);
    justify-items: center;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .about-class-right {
    img {
      width: 100%;
      height: auto;
    }
  }
}

.about-diy {
  padding: 7% 0% 15% 0%;
  @extend %flex-center;
  flex-direction: column;
  @include gap(70px);

  h1 {
    @extend %title-style;
    font-size: 3.125rem;
    letter-spacing: 3px;
  }

  button {
    @include button-style;
  }

  .diy-images {
    display: flex;
    gap: 16px;
  }
}

.video-container {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 5%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 1001px) {
  .video-container {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 1000px) {
  .diy-images {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    width: 80%;
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .video-container {
    flex: 0 0 100%;
    height: 100%;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;

    iframe {
      border-radius: 0%;
    }
  }
}

.contact {
  @extend %flex-center;
  flex-direction: column;
  width: 100%;
  @include gap(40px);

  h1 {
    @extend %title-style;
  }

  p {
    width: 90%;

    @include mq("lg") {
      width: 60%;
    }
  }

  .submit-button {
    @include button-style;
  }

  .section {
    margin-top: 8%;
  }
}

.form-container {
  background-color: $background-color-2;
  padding: 60px;
  width: 60%;

  @include mq("md") {
    width: 100%;
    padding: 20px;
  }

  h2 {
    font-weight: 400;
    color: black;
    font-size: 2rem;
  }
}

#services-form {
  @include gap(20px);
  text-align: left;

  label {
    font-size: 2rem;
  }

  .event-option {
    background-color: $background-color;
    border: 1px solid $background-color;
    width: 200px;
    padding: 10px 20px;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    font-family: $font-stack;

    @include mq("lg") {
      width: 100%;
    } 

    img {
      display: none;
    }
  }

  .event-option.selected {
    border: 1px solid $complementary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      display: block;
    }
  }

  input,
  select {
    font-family: $paragraph-font;
    border-radius: 0%;
    padding: 15px;
  }

  .contact-input {
    display: none;
  }

  input[type="radio"] {
    accent-color: $bold-main-color;
  }

  #call-input {
    display: block;
  }

  .section-row {
    display: flex;
    flex-direction: row;
    margin-top: 8%;
    @include gap(20px);

    @include mq("lg") {
      flex-direction: column;
      gap: 30px;
    }
  }

  .checkbox-label {
    font-size: 1.2rem;
    font-family: $paragraph-font;
  }

  .radio-label {
    font-size: 1.2rem;
    margin-top: 25px;
    font-family: $paragraph-font;
  }

  .submit-button {
    @include button-style;
  }
}

.row {
  display: flex;
  gap: 10px;
}

.column {
  flex: 1;
}

.event-type {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  gap: 10px;

  @include mq("lg") {
    flex-direction: column;
  }
}

#event-date,
#event-time,
#name {
  margin-top: 25px;
}

input[type="text"],
input[type="tel"],
input[type="whatsapp"],
input[type="email"],
input[type="sms"],
input[type="date"],
select {
  width: 100%;
  padding: 8px;
  font-size: 0.9rem;
  border: 1px solid #e2d3d0;
  border-radius: 5px;
  margin-bottom: 10px;
}

.checkbox-label,
.radio-label {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin-top: 5px;
  cursor: pointer;
}

.checkbox-label input,
.radio-label input {
  margin-right: 8px;
}

.button-container {
  @extend %flex-center;
  margin-top: 20px;
}

@font-face {
  font-family: "WhiteFlower";
  src: url("../assets/fonts/Whiteflower-Regular.otf") format("opentype");
}
