/* color */
$background-color: #fbfafa;
$primary-color: #000000;
$secondary-color: #888888;
$background-color-2: #FAE9E7;
$accent-color: #E3B6B1;
$bold-main-color: #644f4e;
$complementary-color: #A06D67;
$complementary-color-2: #B99692;

/* font */
$font-stack: "Baskerville", sans-serif;
$paragraph-font: "Avenir", sans-serif;
